empresa, telefono, id, nombre, despacho, grado, url {
    font-family: Calibri;
    font-size: larger;
    width: 200px;
    border: 3px groove red;
    display: block;
    float: left;
    text-align: center;
    padding: 5px;
}